<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <h1>Welcome to Jungle!</h1>
        <p> Our founders started out as a group of childhood friends that all had a passion for nature and the outdoors.  Unfortunately, they found it difficult to find a place online to purchase houseplants that was easy to navigate and wasn’t just geared to wholesale. So, in 2020, they decided to launch Jungle to be the ultimate destination for everything houseplants. 
        </p>
        <h2>Our Mission</h2>
        <p>
            Dedicated to growing an excellent assortment of superior plants and provide our customers with the best service possible. Create for our employees a stimulating, safe, challenging and rewarding environment.
        </p>
        
        <h2>Our Vission</h2>
        <p>
        Strive for business excellence by building lasting relationships with our customers. Create a business environment where the company through innovation, efficiency, and dedication earns a fair profit.
        </p>
       
    </div>
</body>
</html>